[submodule "Library/ShadowPath/ShadowPath/libmaxminddb"]
	path = Library/ShadowPath/ShadowPath/libmaxminddb
	url = https://github.com/haxpor/libmaxminddb.git
[submodule "Library/CallbackURLKit"]
	path = Library/CallbackURLKit
	url = https://github.com/phimage/CallbackURLKit.git
[submodule "Library/Eureka"]
	path = Library/Eureka
	url = https://github.com/xmartlabs/Eureka.git
	branch = master
[submodule "Library/yaml"]
	path = Library/yaml
	url = https://github.com/ShadowsocksR-Live/yaml.git
	branch = master
[submodule "Library/ssrNative"]
	path = Library/ssrNative
	url = https://github.com/ShadowsocksR-Live/shadowsocksr-native.git
	branch = master
[submodule "Library/openssl"]
	path = Library/openssl
	url = https://github.com/ShadowsocksR-Live/OpenSSL-for-iPhone.git
	branch = master
